.container {
    width: 1024px; 
    margin: 0 auto;
}
nav {
    top: 0;
    left: 0;
    width: 100%;
}
nav ul {
	float: right;
}
nav li {
    float: left;
    width: auto;
}
nav li a {
    padding: 20px 20px;
    position: relative;
    top: 30px;
    left: 8px;
    text-decoration: none;
    color: maroon;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
nav li a {
    background: none;
}

 #LeftNavPhoto {
    /*background: url(../Logomakr_3YzGmp.png) no-repeat top left;*/
    background-size: 100px;
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
} 

#hero {
  background: url(../Logomakr_3YzGmp.png) no-repeat top left;
  background-color: beige; 
  background-size: cover;
	height: 700px;
	padding: 30px 0;
  position: static;
 
}

p {
  position: relative;
  top: 20%;
  right: 10%;
  margin: 10px;
  padding: 10px 10px;
  color: maroon;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  
}
footer {
   position: relative; 
   top: 40%
   margin: 10px;
   font-size: 10px;
   background-color: beige;
}


#AboutMePhoto {
    background: url(../SarahBioImage1.jpg) no-repeat top center;
    background-color: beige; 
    background-size: 400px;
      height: 400px;
      padding: 10px 0px;
    position: relative;
    top: 50px;
}

body {
    background-color: beige;
}

#TextAM {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    margin: 10px;
    bottom: 40px;
    left: 30px;
}

